.sort-btns{
  width: 100%;
  margin-bottom: 12px;
}
.sort-btns button{
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.sort-btns button i{
  margin-right: 7px;
}
